.backgroundBlogPost{
    background:rgb(243, 240, 240);
}

.img-blog{
    margin-left: 50px;
    width: 400px;
}
.img-blog img {
    border-radius: 5px;
    transition: all 0.3s ease-in-out;

}
.img-blog:hover img{
    transform: scale(1.02);
}
.img-text-blog{
    margin-top: 100px;
    margin-bottom: 50px ;

}
.day-month-year-blog{
    font-size: 12px;
    background-color: rgb(249 115 22);
    width: 100px;
    text-align: center;
    height: 30px;
    margin-top: 10px;
    padding-top: 6px;
    color: white;
    font-weight: 500px;
    border-radius: 5px;

}
.w3-blog{
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}
.w3-blog:hover{
    color: rgb(249 115 22); ;
    
}
.button-text-img-Blog{
    margin-top: 20px;
    background-color:rgb(249 115 22); 
    color: white;
    width: 120px;
    height: 50px;
    font-size: 18px;
    border-radius: 5px;
}
.helloWorld-blog{
    font-size: 18px;
font-weight: 800; 
}
.search-blog{
    
    padding-left: 50px;
    margin-left: 100px;
    margin-top: 100px;
    width: 300px;
    height: 120px;
    background-color: white;
border-radius: 5px;
}
.search-blog1{
    margin-top: 33px;
        width: 100px;
    border: 1px solid rgb(249 115 22); 
        
        height: 50px;
        text-align: center;
        padding-top: 12px;
        border-radius:10px 0px 0px 10px;
        color: rgb(155, 152, 152);;
        padding-left: 20px;
        border-right: none;


}
.search-blog1:focus{
    border-color: red;
}
.search-blog2{
    margin-top: 33px;
    background-color:rgb(249 115 22); 
        width: 100px;
        height: 50px;
        text-align: center;
        padding-top:12px ;
        color: white;
        border-radius:0px 10px 10px 0px ;
        cursor: pointer;

}
input{
    outline: none;
}
.RencentPost{
    background-color: white;
    margin-top: 50px;
    margin-left: 100px;
    width: 300px;
    padding-left: 20px;
    height: 400px;
    border-radius: 5px;
    padding-top: 20px;
}
.rencent{
    font-size: 23px;
    font-weight: 800;
}
.helloRencent{
    font-size: 18px;
    font-weight: 600;
    margin-top: 15px;
}
.helloRencent a {
    text-decoration: none;
transition: all 0.2s ease-in-out;
color: rgb(86, 83, 83);;
}
.helloRencent:hover a {
    color: rgb(249 115 22); ;
}
.rencentComment{
    background-color: white;
    margin-top: 50px;
    margin-left: 100px;
    width: 300px;
    padding-left: 20px;
    height: 220px;
    border-radius: 5px;
    padding-top: 20px;
}
.recentArchives{
    background-color: white;
    margin-top: 50px;
    margin-left: 100px;
    width: 300px;
    padding-left: 20px;
    height: 250px;
    border-radius: 5px;
    padding-top: 20px;
}
.iconaArchives{
    opacity: 0;
    color: rgb(249 115 22); 
    margin-top: 3px;
}
.textAchives{
    font-size: 20px;
    font-weight: 600;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    color: gray;
    
}
.text-icon-Achives{
    padding-top: 10px;

}
.text-icon-Achives:hover .textAchives {
    transform: scale(1.05);
    transform: translateX(10px);
    color: rgb(249 115 22); 
    font-weight: 800;
}
.text-icon-Achives:hover .iconaArchives {
    opacity: 1;
}
.recentMeta{
    background-color: white;
    margin-top: 50px;
    margin-left: 100px;
    width: 300px;
    padding-left: 20px;
    height: 250px;
    border-radius: 5px;
    padding-top: 20px;
}