
.footerText {
    font-size: 25px;
    font-weight: 700;
}
.footerIcon{
    width: 45px;
    height: 45px;
    background-color: white;
    border-radius: 50%;
    color: rgb(249 115 22);
    text-align: center;
    font-size: 25px;
    margin-left: 10px;
    padding-top: 3px;
    transition: 0.3s ease-in-out;
}
.footerIcon:hover{
color: white;
background: rgb(249 115 22); ;
}
.copyRight{
    color:white;
    margin-left: 400px;
    margin-top: 100px;
}
.footerContainer{
    width: 100%; 
    height: 600px
}
