/* .nav-mobie{
    font-size: 30px;
    display: none;
}
.nav-overlay{
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color:rgba(0,0,0,0.3)
}
.times-nav{
    font-size: 30px;
}
.nav_mobie{
position: fixed;
top: 0;
right: 0;
bottom: 0;
width: 320px;
max-width: 100%;
background-color: white;
color: black;

}
.Menu-mobile{
font-size: 1.4rem;
} */

/* @media (max-width:1023px){

    .header-nav{
        background-color: gray;
    }
    .nav-mobie{
        font-size: 30px;
        display: block;
        margin-left: 40px;

    }
    .nav-PC{
        display: none;
    }
    .header-main{
        padding-top: 30px;
        padding-left: 20px;
        font-size: 15px;
    }
    .react-multi-carousel-dot{
       height: 1px;
    }
} */

.react-multi-carousel-dot-list {
    padding-bottom: 80px;
}
.react-multi-carousel-dot--active button {
    background:rgb(249 115 22)  !important;
}
.react-multi-carousel-dot button {
    padding: 6px;
    border: none;
    background-color: white;
    margin: 4px;
}


.react-multi-carousel-dot button:hover{
    background:rgb(249 115 22);
}
.header-main{
    cursor: pointer;
}

@media (min-width:414px) and (max-width:768px){
 

}

.nameDetail{
    font-weight:600;
}

.menuCarousel{
    position: absolute;
    z-index: 1;
}
.Menu:hover {
        transition: 0.5s;
    cursor: pointer;
}

.detailCarousel1{
    position: absolute;
    z-index: 2;
    bottom:500px;
    left: 50px;
    

}
.imgCarousel{
    filter: opacity(50%);
}
.detailCarousel2{
    position: absolute;
    z-index: 2;
    bottom: 400px;
    left: 50px;
    font-size: 50px;
    font-weight: 700;
}
.detailCarousel3{
    position: absolute;
    z-index: 2;
    top: 60px;
    left: 55px;
    font-size: 50px;
    font-weight: 700;
}
.buttonCarousel{
    background-color: rgb(249 115 22);
    width: 120px;
    height:50px;
    position: absolute;
    z-index: 2;
    bottom: 180px;
    color:white;
    border-radius: 5px;
    font-weight: 700;
    position: absolute;
    bottom: 280px;
    left: 105px;
    font-size: 13px;
    
}
.buttonCarousel:hover{

    background-color:rgb(188, 88, 18);
    transition: 0.5s;

}
