.Err{
    z-index: 1;
    color: white;
  
    font-size: 200px;
    font-weight: 700;
    margin-left: 470px;
 top: 0;
 position: absolute;
 margin-top: 100px;
}
.img404{
    filter: brightness(0.3);
}

.OopsErr{
    top: 0;
    position: absolute;
    font-size: 40px;
    font-weight: 700;
    margin-left: 470px;
 top: 0;
 margin-top: 350px;
 color:rgb(249 115 22);

}
.text-Err{
    top: 0;
    position: absolute;
    font-weight: 700;
    margin-left: 420px;
 top: 0;
 margin-top: 420px;
 color: white;
 text-align: center;
}
.inputErr{
    top: 0;
    position: absolute;
   margin-left: 440px;
 margin-top: 500px;
  border: 1px solid orange;
  width: 300px;
  height: 60px;
  padding-top: 15px;
  padding-left: 30px;
  border-radius: 10px;
  background-color: white;
}

.inputErr1{
    top: 0;
    position: absolute;
   margin-left:760px;
 margin-top: 500px;
  width: 120px;
  height: 60px;
  padding-top: 15px;
  padding-left: 47px;
  border-radius: 10px;
    background-color:rgb(249 115 22); 
    font-size: 20px;
    cursor: pointer;
    color: white;
}
.backto-Err{
    position: absolute;
    top: 0;
    color: white;
    margin-top: 600px;
    margin-left: 560px;
    border: 1px solid white;
  width: 200px;
  height: 60px;
  padding-top: 18px;
  padding-left: 20px;
  border-radius: 10px;
  font-weight: 800;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.backto-Err:hover{
    color:white;
    text-decoration: none;
    background-color:rgb(249 115 22);
    border: none;

}
.backto-Err i{
    padding-right: 10px;
}
@media only screen and (max-width : 736px) {
    .Err{
        font-size: 35px;
        margin-left: 160px;
        margin-top: 30px;
    }
    .OopsErr{
        font-size: 13px;
        margin-left: 120px;
        margin-top: 75px;
       }
       .text-Err{
        font-size: 8px;
        margin-left: 55px;
        margin-top: 95px;
       }
       .inputErr{
        display: none;
        }
        .inputErr1{
         display: none;
        }
        .backto-Err{
            margin-left: 130px;
            margin-top: 130px;
            width: 130px;
            height: 10px;
            font-size: 9px;
           padding-bottom: 30px;
           }
           
        
}


@media (min-width :46.25em) and (max-width : 63.9375em) {
   .Err{
    font-size:120px;
    margin-left: 200px;
    margin-top: 20px;
   }
   .OopsErr{
    font-size: 30px;
    margin-left: 160px;
    margin-top: 180px;
   }
   .text-Err{
    font-size: 15px;
    margin-left: 60px;
    margin-top: 230px;
   }
   .inputErr{
   display: none;
   }
   .inputErr1{
    display: none;
   }
   .backto-Err{
    margin-left: 220px;
    margin-top: 280px;
   }
}

