
.imgWhatWeDo-service{
    width: 519px;
    margin-left: 120px;
    margin-top: 80px;
}
.imgWhatWeDo-service img {
    border-radius: 7px;
}
.WWDservice{
    font-weight: 700;
    color: rgb(104, 96, 96);
    font-size: 14px;
}
.text1-Service{
    margin-top: 80px;
    margin-left: 100px;
}
.FieldService{
    font-size: 45px;
    font-weight: 800;
    margin-top: 20px;
    line-height: 55px;
}
.LoremService{
    line-height: 30px;
    margin-top: 15px;
    color: rgb(104, 96, 96);
    font-weight: 500;
    font-size: 16px;
}
.Button-WhatWeDo-Service{
    width: 130px;
    height: 50px;
    background-color: rgb(249 115 22);
    border-radius: 5px;
    color: white;
    font-weight: 600;
    font-size: 16;
    margin-top: 20px;
    margin-left: 10px;
}

.offer-service{
    background: rgb(245, 242, 242);
    margin-top: 100px;;
}
.text-Offer{
    font-size: 45px;
    font-weight: 800;
}
.text-egg-service{
    font-size: 20px;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
    width: 220px;
}
.text-egg-service:hover{
    color: rgb(249 115 22); ;
}
.egg-icon-serv{
    font-size: 35px;
    width: 95px;
    height: 60px;
    background: rgb(245, 242, 242);
    text-align: center;
    margin-top: 50px;
    padding-top: 4px;
    border-radius: 50%;
    margin-left: 20px;
    color: rgb(249 115 22); ;

}
.bg-grid-offer .egg-icon-serv{
    transition: all 0.3s ease-in-out;
}
.bg-grid-offer:hover .egg-icon-serv{
    background-color:rgb(249 115 22);
}
.bg-grid-offer{
    width: 420px;
    height: 170px;
background-color: white;
    border-radius: 10px;
}
.bg-grid-offer div i {
    transition: all 0.3s ease-in-out;

}
.bg-grid-offer:hover div i {
    color: white;
}
.icon-text-offer-serv{
    margin-left: 30px;
    margin-top: 40px;
}
.offer-service{
    width:100%;
    height: 750px;
}

.img-contact-serv:hover .img-fluid {
    transform: scale(1.05);
}

