.OurAbout1{
    margin-top: 70px;
}

.aboutUsOur{
    margin-left: 100px;
}

.aboutOur{
    font-weight: 700;
    color: rgb(104, 96, 96);
    font-size: 14px;
}
.aboutField{
    font-size: 45px;
    font-weight: 800;
    margin-top: 20px;
    line-height: 55px;
}
.AboutTextLorem{
    line-height: 32px;
    margin-top: 15px;
    color: rgb(104, 96, 96);
    font-weight: 500;
    font-size: 18px;
}
.imgAboutOur{
    width: 73%;
    border-radius: 10px;
    height: auto;
    margin-left: 100px;
   
}
.text-img-our-about{
    background-color: rgb(249 115 22);;
    color:white;
    width: 300px;
    height: 150px;
    border-radius: 5px;
    margin-bottom: 200px;
    position: absolute;
    margin-left: 700px;
    margin-top: 300px;

}
.text-16{
    margin-top: 20px;
    
}
.text-16-1{
    font-size: 50px;
    font-weight: 700;
}
.text-16-2{
    font-weight: 500;
}


.QualityAbout{
    margin-top: 50px;
}
.iconAndTextOur{
    margin-top: 20px;
    width: 250px;
    height: 100px;
    margin-right: 40px;

}


.iconOurAbout1{
    margin-top: 5px;
    margin-right: 10px;
    font-size: 30px;
    color:rgb(249 115 22);

}
.textOut2About1{
    font-weight: 800;
    font-size: 20px;
}
.textOut2About2{
    margin-top: 15px;
    line-height: 25px;
    color: rgb(104, 96, 96);
    font-weight: 500;
    font-size: 18px;
}
.numberAbout{
    margin-top: 100px;
    line-height: 40px;
}
.text-number-about1{
    font-weight: 800;
    font-size: 45px;
   

}
.text-number-about2{
font-weight: 500;
font-size: 18px;
text-align: center;
color:rgb(249 115 22);

}

.number-text-about{
    margin-left:180px;
}
.number-about{
   padding-top: 30px;
}
.numberAbout{

    height: 130px;
    background: rgb(245, 242, 242)
    
}
.imgChief {
   position: relative;
}
.imgChief1{
    filter: brightness(0.55);


}
.imgChief img{
    transition: 0.3s ease-in-out;

}
.imgChief:hover img {
   transform: scale(1.05);
}

.imgBgChief{
   overflow: hidden;
   width: 600px;
   height: 280px;
   margin-left: 75px;
   margin-top: 100px;
   border-radius: 10px;
   position: relative;

}
.text-button-chief{
    position: absolute;
    z-index: 2;
    font-weight: 700;
    color: white;
    font-size: 35px;
    top: 50px;
    left: 50px;
}
.button-Chief{
    position: absolute;
    z-index: 2;
    font-weight: 500;
    color: white;
    font-size: 15px;
    bottom: 100px;
    left: 50px;
    border: 2px solid white;
    width:130px;
    height: 50px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}
.imgChief:hover button {
   background-color:rgb(249 115 22);
   border: none;
}
.imgContactAbout{
    margin-top: 100px;
}

.img-contact-about{
    filter: brightness(0.5);
    object-fit: cover;
    width: 100%;
    height: 300px;
   
}
.text-button-contact-about{
    position: absolute;
    top: 2150px;
    left: 100px;
    font-weight: 700;
    color: rgb(208, 197, 197);
    font-size: 16px;
    letter-spacing: 1px;
}
.text-Our-contact-about{
    position: absolute;
    top: 2200px;
    left: 100px;
    font-weight: 700;
    color: white;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 2px;
}

.button-our-about1{
    color: rgb(249 115 22);
    position: absolute;
    top: 2200px;
    right: 350px;
    width:130px;
    height: 60px;
    border-radius: 10px;
  background: white;
  transition: all 0.3s ease-in-out;

}
.button-our-about1:hover{
   background-color:rgb(249 115 22);
   color: white;
    
}
.button-our-about2{
   background-color:rgb(249 115 22);

    color: white;
    position: absolute;
    top: 2200px;
    right: 200px;
    width:130px;
    height: 60px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}
.button-our-about2:hover{
    background-color:rgb(211, 112, 41);
}


.text-ourteam-about1{
    font-weight: 700;
    color: rgb(104, 96, 96);
    font-size: 14px;
}
.text-ourteam-about2{
    font-size: 45px;
    font-weight: 800;
    margin-top: 20px;
    line-height: 55px;
}
.text-ourteam-about3{
    font-size: 45px;
    font-weight: 800;
    margin-top: 20px;
    line-height: 55px;
}
.icon-ourteam-about{
    position: absolute;
    top: 2900px;
    opacity: 0;
    left: 170px;
  transition: all 0.3s ease-in-out;
}
.icon-ourteam-about2{
    position: absolute;
    top: 2900px;
    opacity: 0;
    left: 580px;
  transition: all 0.3s ease-in-out;
}
.icon-ourteam-about3{
    position: absolute;
    top: 2900px;
    opacity: 0;
    left: 990px;
  transition: all 0.3s ease-in-out;
}
.img-ourteam-about:hover .icon-ourteam-about{
    opacity: 1;
}
.img-ourteam-about2:hover .icon-ourteam-about2{
    opacity: 1;
}
.img-ourteam-about3:hover .icon-ourteam-about3{
    opacity: 1;
}
.i1 {
    width: 45px;
    height: 45px;
     background: white;
    margin-left: 20px;
    font-size: 23px;
    text-align: center;
    padding-top: 6px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}
.i2 {
    width: 45px;
    height: 45px;
    background: white;
   margin-left: 20px;
    font-size: 23px;
    text-align: center;
   padding-top: 6px;
   border-radius: 50%;
   transition: all 0.3s ease-in-out;
   }
   .i3 {
    width: 45px;
    height: 45px;
    background: white;
   margin-left: 20px;
    font-size: 23px;
    text-align: center;
   padding-top: 6px;
   border-radius: 50%;
   transition: all 0.3s ease-in-out;
   }
   .i1:hover{
    color:rgb(249 115 22);
   }
   .i2:hover{
    color:rgb(249 115 22);
   }
   .i3:hover{
    color:rgb(249 115 22);
   }
   .i4 {
    width: 45px;
    height: 45px;
     background: white;
    margin-left: 20px;
    font-size: 23px;
    text-align: center;
    padding-top: 6px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}
.i5 {
    width: 45px;
    height: 45px;
    background: white;
   margin-left: 20px;
    font-size: 23px;
    text-align: center;
   padding-top: 6px;
   border-radius: 50%;
   transition: all 0.3s ease-in-out;
   }
   .i6 {
    width: 45px;
    height: 45px;
    background: white;
   margin-left: 20px;
    font-size: 23px;
    text-align: center;
   padding-top: 6px;
   border-radius: 50%;
   transition: all 0.3s ease-in-out;
   }
   .i4:hover{
    color:rgb(249 115 22);
   }
   .i5:hover{
    color:rgb(249 115 22);
   }
   .i6:hover{
    color:rgb(249 115 22);
   }
   .i7 {
    width: 45px;
    height: 45px;
     background: white;
    margin-left: 20px;
    font-size: 23px;
    text-align: center;
    padding-top: 6px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}
.i8 {
    width: 45px;
    height: 45px;
    background: white;
   margin-left: 20px;
    font-size: 23px;
    text-align: center;
   padding-top: 6px;
   border-radius: 50%;
   transition: all 0.3s ease-in-out;
   }
   .i9 {
    width: 45px;
    height: 45px;
    background: white;
   margin-left: 20px;
    font-size: 23px;
    text-align: center;
   padding-top: 6px;
   border-radius: 50%;
   transition: all 0.3s ease-in-out;
   }
   .i7:hover{
    color:rgb(249 115 22);
   }
   .i8:hover{
    color:rgb(249 115 22);
   }
   .i9:hover{
    color:rgb(249 115 22);
   }
   .text-ourteam-about{
    font-size: 20px;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
   }
   .text-ourteam-about:hover {
    color:rgb(249 115 22);

   }