.healthyImg{
    max-width: 550px;
    border-radius: 5px;
   margin-left: 130px;
   height: auto;
}
.healthy {
    padding-top: 80px;

}

.textHealthy{
    margin-left: 50px;
    padding-top: 85px;
}
.getText{
font-weight: 700;
color: rgb(104, 96, 96);
font-size: 14px;
}
.textField{
    font-size: 45px;
    font-weight: 800;
    margin-top: 20px;
}
.textlorem{
    line-height: 32px;
    margin-top: 15px;
    color: rgb(104, 96, 96);
    font-weight: 500;
    font-size: 18px;
}
.GetButton{
    background-color: rgb(249 115 22);
    width: 120px;
    height:50px;

    color:white;
    border-radius: 5px;
    font-weight: 700;
    bottom: 280px;
    left: 105px;
    font-size: 13px;
    margin-top: 60px;
}
.GetButton:hover{
    background-color:rgb(188, 88, 18);
    transition: 0.5s;

}
.WhatWeDo{
    background: rgb(245, 242, 242)
}
.OurWhat{
    text-align: center;
}
.textWhat{
    font-weight: 700;
    color: rgb(104, 96, 96);
    font-size: 14px;
}
.textOur{
    font-size: 45px;
    font-weight: 800;
    margin-top: 10px;
}
.services{
    height: 450px;
}
.serviceDetail{
    margin-top: 60px;
    margin-left: 60px;
    width: 400px;
    height: 300px;
    background-color: white;
    border-radius: 5px;
}
.iconService{
    background: rgb(245, 242, 242);
    color:rgb(249 115 22);

    border-radius: 50%;
    padding-top:25px;
    width: 90px;
    height: 90px;
    margin-top: 30px;
    font-size: 40px;
    transition: all 0.3s ease-in-out;

}
.iconService:hover{
   background-color:rgb(249 115 22);
   color: white;
}
.textQuality{
    font-weight: 800;
    font-size: 20px;
    margin-top: 15px;
    transition: all 0.3s ease-in-out;
}
.textQuality:hover{
    color:rgb(249 115 22);
}
.textLoremQuality{
    color: rgb(104, 96, 96);

}
.invention{
    margin-top: 100px;
    width: 100%;
    height: 500px;
}
.inventionText{
    max-width: 550px;
   margin-left: 130px;
   height: auto;
}
.inventionText1{
    font-weight: 700;
    color: rgb(104, 96, 96);
    font-size: 14px;
}
.inventionText2{
    font-size: 45px;
    font-weight: 800;
    margin-top: 15px;
    line-height: 50px;
}
.inventionText3{
    line-height: 32px;
    margin-top: 40px;
    color: rgb(104, 96, 96);
    font-weight: 500;
    font-size: 18px;
}
.inventionButton{
    background-color: rgb(249 115 22);
    width: 120px;
    height:50px;

    color:white;
    border-radius: 5px;
    font-weight: 700;
    bottom: 280px;
    left: 105px;
    font-size: 13px;
    margin-top: 54px;
}
.inventionButton:hover{
    background-color:rgb(188, 88, 18);
    transition: 0.5s;
}
.breeder{
    margin-left: 100px;
}
.breederIconText{
    width: 530px;
    height: 180px;
    background: rgb(245, 242, 242);
    border-radius: 10px;

}
.breederIcon{
    width: 90px;
    height: 90px;
    background-color: white;
    color:rgb(249 115 22);
    margin-left: 28px;
    border-radius: 50%;
    margin-top: 45px;
    font-size: 40px;
    padding-top:24px;
    padding-left: 28px;
    transition: all 0.5s ease-out;
}
.breederIcon:hover{
    background-color:rgb(249 115 22);
    color: white;
    transition: all 0.3s;
 
}
.breederIcon2{
    width: 90px;
    height: 90px;
    background-color: white;
    color:rgb(249 115 22);
    margin-left: 28px;
    border-radius: 50%;
    margin-top: 45px;
    font-size: 40px;
    padding-top:24px;
    padding-left: 20px;
    transition: all 0.5s ease-out;
}
.breederIcon2:hover{
    background-color:rgb(249 115 22);
    color: white;
    transition: all 0.3s;
 
}
.breederText1{
    font-weight: 800;
    font-size: 20px;
}
.breederText2{
    line-height: 30px;
    margin-top: 10px;
    color: rgb(104, 96, 96);
    font-weight: 400;
    font-size: 18px;
}
.gallery{
    padding-top: 80px;
    background: rgb(245, 242, 242)

}
.latest1{
    font-weight: 700;
    color: rgb(104, 96, 96);
    font-size: 14px;
}
.latest2{
    margin-top: 5px;
    font-size: 40px;
    font-weight: 800;
}

.gridshow{
    width: 800px;
}
.showcase-all{
    position: relative;
}
.showcase-overlay{
    
    height: 40px;
    width: 40px;
    top: 35px;
    right: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: white;
    cursor: pointer;
    border-radius: 5px;
    opacity: 0;
    transition: all 0.5s ease-out;
    
}
.showcase-overlay:hover{
    background-color:rgb(249 115 22);
    color: white;
    
}
.showcase-search a i {
    font-size: 25px;
}


.picC{
  
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
 

}
.picC:hover{
   transform: scale(104%);
filter: brightness(50%);
}
.showcase-all:hover .showcase-overlay { 
   opacity: 1;
   transition: 1s;
   
}






